/uv.lock
/.venv
reservations.db
extract/calendar_latest.html
extract/calendar_requests.html
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/scraping_otelms_api.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/config.cpython-312.pyc
src/__pycache__/database.cpython-312.pyc
src/__pycache__/exporter.cpython-312.pyc
src/__pycache__/extractor.cpython-312.pyc
src/__pycache__/items.cpython-312.pyc
src/__pycache__/models.cpython-312.pyc
src/__pycache__/pipelines.cpython-312.pyc
src/__pycache__/scraper.cpython-312.pyc
src/__pycache__/settings.cpython-312.pyc
src/__pycache__/spiders.cpython-312.pyc
